/* Navigation Bar*/

#nav-bar {
  background-color: #121a2d;
}

/* Body */
body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
}

h3 {
  letter-spacing: 2px;
  font-size: 40px;
  color: #000;
}

.container {
  padding: 40px 40px 60px 40px;
}

hr {
  margin-top: 0px;
  width: 25%;
}

#mission {
  padding: 15px 150px 50px 150px;
  font-size: 17px;
}

#hr2 {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 15%;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

/* Footer */
#footbarNav {
  background-color: #121a2d;
  height: 60px;
}

.navbar-text {
  margin: 0;
}

#mobile-searchbar {
  display: none;
}

@media screen and (max-width: 768px) {
  #desktop-searchbar,
  .img_overlay {
    display: none;
  }

  #mobile-searchbar {
    display: flex;
  }

  #searchbox {
    margin-right: 5px;
  }

  .container {
    padding: 20px 15px 70px 15px;
    margin: 0px;
  }

  h3 {
    margin: 10px;
  }

  hr {
    margin-top: 0px;
    width: 70%;
  }

  #mission {
    padding: 0 0 20px 0;
    margin: 0px;
  }

  #hr2 {
    margin-top: 0px;
    width: 40%;
  }

  #members {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #members p {
    margin: 10px 0 10px 0;
  }

  #members img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1210px) and (min-width: 768px) {
  #mission {
    padding: 0px 20px 30px 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 769px;
  }
}
