body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #606060;
  box-sizing: border-box;
  margin: 0;
  background-color: #f0eeec;
}

/* Navigation Bar*/

#navbarNav {
  background-color: #121a2d;
}

/* Members about us*/
.sectionabout {
  padding-bottom: 50px;
}

.box {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
  padding: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.box-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 8%;
}

#intro {
  margin: 0;
  padding-right: 20%;
}

#pic {
  width: 75%;
}

#rank {
  display: flex;
  padding-top: 5px;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}

/* Footer */
#footbarNav {
  background-color: #121a2d;
  height: 60px;
}

.navbar-text {
  margin: 0;
}
