/* Navigation Bar*/

#nav-bar {
  background-color: #121a2d;
}

/* Body */
body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #000;
}

/*
body::after {
  content: "";
  background-image: url("/IMG/Grp1.jpg");
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}*/

#header-grpPic {
  background-image: url("../IMG/Grp1_crop.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
}

.ourMission {
  display: flex;
  padding: 0px 100px 50px 100px;
}

.ourMission img {
  width: 40%;
  height: 40%;
}

h3 {
  letter-spacing: 2px;
  font-size: 40px;
  color: #000;
}

.container {
  padding: 40px 40px 60px 40px;
}

hr {
  margin-top: 0px;
  width: 25%;
}

.mem-hr {
  margin-top: 0px;
  margin-bottom: 5px;
  width: 40%;
}

#mission {
  padding-left: 20px;
  font-size: 17px;
}

#hr2 {
  margin-top: 0px;
  margin-bottom: 20px;
  width: 15%;
}

#no1,
#no2,
#no3 {
  background-color: rgba(245, 245, 245, 0.6);
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

/* Footer */
#footbarNav {
  background-color: #121a2d;
  height: 60px;
}

.navbar-text {
  margin: 0;
}

#mobile-searchbar,
#grpPic {
  display: none;
}

@media screen and (max-width: 768px) {
  #desktop-searchbar,
  .img_overlay,
  body::after,
  #header-grpPic {
    display: none;
  }

  #mobile-searchbar {
    display: flex;
  }

  #searchbox {
    margin-right: 5px;
  }

  .container {
    padding: 20px 15px 70px 15px;
    margin: 0px;
  }

  h3 {
    margin: 10px;
  }

  hr {
    margin-top: 0px;
    width: 70%;
  }

  .ourMission {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #grpPic {
    display: block;
    width: auto;
  }

  #mission {
    padding: 15px 0 20px 0;
    margin: 0px;
    text-align: center;
  }

  #hr2 {
    margin-top: 0px;
    width: 40%;
  }

  #members {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #members p {
    margin: 10px 0 10px 0;
  }

  #members img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1210px) and (min-width: 768px) {
  #mission {
    padding: 0px 20px 30px 20px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 769px;
  }
}
