body {
  background-color: #f0eeec;
	font-weight: 80px;
	height: auto;
}

/*#footer-below {
  position: relative;
  max-height: 50px;
  margin-bottom: 2px;
  border: 1px solid transparent;
}
*/
/*.bg-custom-2 {
  background-image: linear-gradient(30deg, #121a2d 20%, #f0eeec 100%);
}
*/

#nav-bar {
  background-color: #121a2d;
}
#footbarNav {
  background-color: #121a2d;
}

.navbar-text {
  margin: 0;
}

/* Flex box for left side menu */

.side-h {
  margin: 10px;
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.section1 {
    height: auto;
	width: 40%;
}

.s1-channel-list,
.s1-post-list {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  background-color: white;
  width: 40%;
  height: auto;
}

.s1-channel-list ul,
.s1-post-list ul {
    list-style: none;
    padding: 15px;
}



.s2-right {
	width: 50%;
	float: right;
	border: 1px #050505;
	
}

.s2-feeds {
    background-color: white;
}
