body {
  background-color: #f0eeec;
  font-weight: 80px;
  height: auto;
}

/*#footer-below {
	position: relative;
	max-height: 50px;
	margin-bottom: 2px;
	border: 1px solid transparent;
  }
  */
/*.bg-custom-2 {
	background-image: linear-gradient(30deg, #121a2d 20%, #f0eeec 100%);
  }
  */

#myModal {
  margin: auto;
  width: 30%;
  height: 40%;
}

#nav-bar {
  background-color: #121a2d;
}
#footbarNav {
  background-color: #121a2d;
}

.navbar-text {
  margin: 0;
}

.h7 {
  font-size: 0.8rem;
}

.username {
  margin-left: 20px;
  padding-top: 15px;
  font-size: 20px;
}

#l-nav-bar-title {
  background-color: #121a2d;
  color: white;
}

#l-bar-1,
#l-bar-2,
#l-bar-3,
#l-bar-4,
#l-bar-5,
#l-bar-6 {
  background-color: #f0eeec;
}

.wrap-container {
  margin: 50px 0;
}

.cardfooter-last {
  margin-bottom: 2.97rem;
}

#mobile-searchbar {
  display: none;
}

.dcy-main {
  padding-left: 4rem;
  padding-right: 4rem;
}
.dcy-card {
  margin-bottom: 2.77rem;
}

#load2.postimg {
  height: 150px;
  width: 60%;
  object-fit: contain;
  outline: none;
  border: none;
  margin-left: 90px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .dcy-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .dcy-card {
    margin-bottom: 4rem;
  }
  .body {
    font-size: 12px;
  }

  #desktop-searchbar {
    display: none;
  }

  #mobile-searchbar {
    display: flex;
  }

  #myTab {
    font-size: 12px;
    tab-size: 2;
  }
  #username1 {
    font-size: 80%;
  }

  div.h5,
  div.h7,
  h5.card-title,
  p.card-text,
  div.card-footer {
    font-size: 80%;
  }

  #myModal {
    font-size: 90%;
    width: 50%;
    height: 29%;
  }

  input#username.form-control {
    font-size: 90%;
  }

  .btn.btn-primary {
    font-size: 90%;
  }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}
