body {
    background-color: #f0eeec;
  }
  
  
  #nav-bar {
    background-color:  #121a2d;
  }
  #footbarNav {
    background-color: #121a2d;
    height: 60px;
  }
  #nav-link {
    background-color: #121a2d;
    color: black;
    display: flex;

  }
  .container {
    display: flex;
    text-align: center;
    justify-content: center;   
    padding: 25px;
  }
  
  .navbar-text {
    margin: 0;
  }

  h3 {
    color: #121a2d;
    font-weight: 400;
  }


  
  h4 {
    background-color: #f0eeec;
    color: #121a2d;
    display: flex;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    justify-content: center;
    padding: 5px;

  }


  h6 {
    background-color: #121a2d;
    color: #f0eeec;
    display: flex;
    text-align: center;
    font-weight: 500;
    justify-content: center;
    padding: 3px;

  }

  a:hover {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
  }
 
  .jumbotron {
    background-color: #f0eeec; 
    align-content: center; 
    justify-content: center;
    padding-top:40px;
  }

 .carousel{
  margin-top: 10px;
  display:flex;
}
.carousel-inner{
  height: 100px;
}
.carousel-caption {
  color: dimgrey;
  top: 30%;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  
  .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .column {
    float: left;
  }
  
  /* Left and right column */
  .column.side {
    width: 30%;
  }

  img {
  width: 80%;
  height:auto;
  justify-content: center;
  }

  /*video here*/
  video {
    width: 100%;
    height: auto;
  }
  
  .row:after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }

  #mobile-searchbar {
    display: none;
  }
  
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (max-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #mediavideo {
      width : 100%;
      height : auto;
    }

    #desktop-searchbar {
      display: none;
    }

    #mobile-searchbar {
      display: flex;
    }

    #searchbox {
      margin-right: 5px;
    }
  }
  